/*======== CSS Reset ===*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*========================================== Using New font ==================================*/
@font-face {
  font-family: Exile71;
  src: url("../assets/fonts/Exile\ 71.ttf") format("truetype");
}


/*=========================================== Re Usable Animations ======================================*/

/* for underline effect on links */
.underline-hover {
  display: inline-block;
  position: relative;
}

.underline-hover::before {
  content: '';
  position: absolute;
  width: 0;
  bottom: 0;
  right: 0;
  height: 1.5px;
  background-color: var(--bs-body-color);
  transition: width 0.25s ease-out;
}

.underline-hover:hover::before {
  width: 100%;
  left: 0;
}

/* For text up and down animation on hover over projects */

/* @keyframes slideUpAndDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  25% {
    opacity: 0;
    transform: translateY(-200%);
  }

  50% {
    opacity: 0;
    transform: translateY(0%);
  }

  75% {
    opacity: 0;
    transform: translateY(200%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.text-brezier:hover {
  animation: slideUpAndDown 0.5s linear 1;
} */

/*=========================================== Body ======================================*/

body {
  font-family: "Questrial", sans-serif !important;
  background-color: #E6E6E6 !important;
}

h1,
h3 {
  font-family: Exile71;
}

.top-border {
  border-top: 1px solid var(--bs-body-color);
}



a {
  color: var(--bs-body-color) !important;
}

/*========================================= Splash Screeen ==============================================*/
.splash{
  background-color: #E6E6E6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
}

@keyframes fadeIn{
  to{
    opacity: 1;
  }
}

.loader-gif{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.opacity-none{
  transition: opacity 1s;
  opacity: 0;
}

.display-none{
  display: none;
  z-index: -999;
}

/*========================================= Navbar ==============================================*/

nav {
  background-color: #E6E6E6;
}

.nav-link {
  color: var(--bs-body-color) !important;
}

/* .navbar{
  backdrop-filter: blur(10px);
} */

.navbar-toggler{
  border: none !important;
}

/*========================================= Hero Section =======================================*/
h1 {
  font-size: 6vw !important;
  line-height: 1 !important;
}

.hero-section {
  height: 30vw;
  margin-bottom: 8vw;
}

/* .hero-section::before {
  content: '';
  background: url('../assets/images/blob.png') no-repeat center center/cover;
  position: absolute;
  opacity: 0.3;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
} */

.hero-section svg {
  width: 6vw;
  height: auto;
  margin-left: 0.5rem;
}


/*======================================== Recent Works ======================================*/
.recent-works {
  margin-bottom: 5vw;
}

.arrow-icon svg {
  width: 5vw;
  height: auto;
  transform: rotate(-135deg);
}

h3 {
  font-size: 4.5vw !important;
  color: var(--bs-body-color);
}

.inner-text {
  position: relative;
  display: inline-block; /* Ensure the container takes the size of its content */
}

.inner-text h3 {
  position: relative;
  z-index: 1;
}

.inner-text img {
  position: absolute;
  top: -80%;
  left: 80%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio of the image */
  z-index: 0;
  opacity: 0; /* Initially hide the image */
  transition: opacity 0.3s ease; /* Add a smooth transition effect */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.inner-text:hover img {
  opacity: 1; /* Show the image on hover */
}


/*======================================== For Bento Box ====================================*/
  .bento-wrapper{
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 8px;
    overflow: hidden;
  }

  .bento-wrapper div{
      border: 3px solid rgb(0, 248, 0);
      border-radius: 4px;
  }

  .work-1{
    grid-column: 1/5;
    grid-row: 1/5;
  }

  .work-2{
    grid-column: 5/7;
    grid-row: 1/5;
  }

  .work-3{
    grid-column: 1/3;
    grid-row: 5/10;
  }

  .work-4{
    grid-column: 3/7;
    grid-row: 5/9;
  }

  .work-5{
    grid-column: 3/5;
    grid-row: 9/13;
  }

  .work-6{
    grid-column: 1/3;
    grid-row: 10/14;
  }

  .work-7{
    grid-column: 5/7;
    grid-row: 9/13;
  }

  .work-8{
    grid-column: 3/7;
  }



/*======================================== About Me ====================================*/

.about-text{
  font-size: 2.5vw !important;
}

@media (max-width: 576px) { 
  .about-text{
    font-size: 5vw !important;
    line-height: 1.5;
  }
 }


/*======================================== Contact Me ====================================*/

.contact{
  margin-bottom: 0 !important;
}