/*======== CSS Reset ===*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*========================================== Using New font ==================================*/
@font-face {
  font-family: Exile71;
  src: url("../Assets/Exile\ 71.ttf") format("truetype");
}

/*=========================================== Body ======================================*/
body{
  font-family: "Questrial", sans-serif !important;
}

h1,h3{
  font-family: Exile71;
}

/*========================================= Navbar ==============================================*/

.nav-link{
  color: var(--bs-body-color) !important;
}

/* .navbar{
  backdrop-filter: blur(10px);
} */

/*========================================= Hero Section =======================================*/
h1{
  font-size: 9.05vw !important;
  line-height: 1 !important;
}

.hero-section{
  margin-bottom: 8vw;
}

.hero-section svg{
  width: 10vw;
  height: auto;
  margin-left: 0.5rem;
}


/*======================================== Recent Works ======================================*/
.recent-works{
  margin-bottom: 10vw;
}

.arrow-icon svg{
  width: 5vw;
  height: auto;
  transform: rotate(-135deg);
}

h3{
  font-size: 4.5vw !important;
  color: var(--bs-body-color);
}

/*======================================== About Section ====================================*/


/*======================================== Contact Me ====================================*/